<!DOCTYPE html>
<html>
  <head>
    <title>Add Expense</title>
  </head>
  <body>
    <h1>Add Expense</h1>
    <form method="POST" action="{{ url_for('expenses.add_expense') }}">
        <label for="title">Expense Name:</label><br>
        <input type="text" id="title" name="title"><br><br>
        <label for="description">Expense Description:</label><br>
        <input type="text" id="description" name="description"><br><br>
        <label for="amount">Expense Amount:</label><br>
        <input type="number" id="amount" name="amount"><br><br>
        <input type="submit" value="Submit">
    </form>
  </body>
</html>
